#title{
    background-color: #ff4c68;
    color: white;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
.big-heading{
    font-family: 'ubuntu';
    font-size: 3.5rem; 
    line-height: 1.5; 
    font-weight: 900;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
h3{ 
    font-family: 'ubuntu';
    font-weight: bold;
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 3% 15% 7%;
}
/* NAVgation bar */
.navbar{
    padding: 0 0 4.5rem;
} 
.nav-link:hover{
    transform: scale(1.2);
}
.navbar-brand{
    font-family: "ubuntu";
    font-weight: bold;
    font-size: 2.5em;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "ubuntu";
}
/* DOWNLOAD BUTTON */
.download-button{
    margin: 5% 3% 5% 0%;
}
.download-button:hover{
        transform: scale(1.2);
}
/* TITLE IMAGE */
.title-image{
    width: 50%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}
.title-image:hover{
    transform: rotate(-15deg);
    transform: scale(1.2);
}
/* feature section */
#features{
    padding: 7% 10%;
    background-color: #ffff;
    position: relative;
}
.feature-1{
    text-align: center;
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
    transform: scale(1.2);
}
#testimonials{
    padding: 7% 10%;
    text-align: center;
    background-color: #ef8172;
    color: #ffff;
}
.t-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.t-image:hover{
    transform: scale(1.2);
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.p-image{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-col{
    padding: 3% 2%;
}
.pricing-col:hover{
    transform: scale(1.2);
}
@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}
#cta{
    background-color: #ff4c68;
    color: #ffff;
    font-family: 'ubuntu';
    font-weight: bold;
    font-size: large;
    text-align: center;
    padding-top: 5%;
}
#footer{
    text-align: center;
    background-color: #ffff;
    padding: 10px;
}
.iconf:hover{
    transform: scale(1.2);
}
